[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "msrp_milan_cheat_sheet"]
	path = static/msrp_milan_cheat_sheet
	url = https://github.com/avb-academy/msrp_milan_cheat_sheet.git
