{{ $slug := .Page.File.Path | replaceRE "^/" "" | replaceRE "/$" "" }}

{{ $safeSlug := $slug }}

{{ if strings.HasSuffix $slug "_index.md" }}
  {{ $safeSlug = (print (substr $slug 0 (sub (len $slug) 9)) "_index_md") }}
{{ end }}

{{ $safeSlug = $safeSlug | replaceRE "-" "_" | replaceRE "\\." "_" }}

{{/*  <p><em>Debug slug: {{ $safeSlug }}</em></p>  */}}

{{ $parts := split $safeSlug "/" }}

{{ $commentsFolder := site.Data.comments }}
{{ range $parts }}
  {{ $commentsFolder = index $commentsFolder . }}
{{ end }}

{{ if $commentsFolder }}
  {{ $.Scratch.Set "comments" (slice) }}
  {{ range $key, $comment := $commentsFolder }}
    {{ $.Scratch.Add "comments" (slice $comment) }}
  {{ end }}
  {{ $comments := $.Scratch.Get "comments" }}
  {{ $sorted := sort $comments "date" "desc" }}

  <div class="comments-container">
    <h2>Comments</h2>
    {{ range $comment := $sorted }}
      <div class="comment">
        <strong>{{ $comment.name }}</strong><br>
        {{ $date := time $comment.date }}
        <small>{{ $date.Format "2006-01-02 15:04:05" }}</small>
        <p>{{ $comment.message }}</p>
      </div>
    {{ end }}
  </div>
{{ else }}
  <p>No comments yet.</p>
{{ end }}
