{{/* Get parameters */}}
{{ $src := .Get "src" | string }}
{{ $alt := .Get "alt" | string }}
{{ $figId := .Get "id" | default (printf "fig-%x" (sha1 $src)) }}
{{ $lightboxId := printf "R-image-%x" (sha1 $src) }}
{{ $figNum := .Get "fig-num" }}
{{ $title := .Get "title" }}
{{ $caption := .Get "caption" }}

{{/* Determine language suffix */}}
{{ $lang := .Site.Language.Lang }}

{{/* Insert language code before last dot in filename */}}
{{ $localizedSrc := replaceRE "(?i)(\\.[^.]+)$" (printf ".%s$1" $lang) $src }}

{{/* Compute localized file path in static folder */}}
{{ $localizedFilePath := (printf "static%s" $localizedSrc) }}

{{/* Check if localized file exists on disk */}}
{{ $localizedFileExists := fileExists $localizedFilePath }}

{{/* If localized file does NOT exist, fall back to original src */}}
{{ if not $localizedFileExists }}
  {{ $localizedSrc = $src }}
{{ end }}

<figure id="{{ $figId }}">
  <!-- Lightbox trigger -->
  <a href="#{{ $lightboxId }}" class="lightbox-link" title="{{ $alt }}">
    <img src="{{ $localizedSrc }}" alt="{{ $alt }}" class="figure-image lazy lightbox" loading="lazy" />
  </a>

  <!-- Lightbox target -->
  <a href="javascript:history.back();" class="lightbox-back" id="{{ $lightboxId }}">
    <img src="{{ $localizedSrc }}" alt="{{ $alt }}" class="lazy lightbox-image" loading="lazy" />
  </a>

  {{/* Figure caption */}}
  {{ $figLabel := i18n "Fig." }}

  {{ if $figNum }}
    <figcaption>{{ $figLabel }} {{ $figNum }}: {{ $title }}</figcaption>
  {{ else if $caption }}
    <figcaption>{{ $caption }}</figcaption>
  {{ end }}
</figure>
