{{ $src := .Get "src" | string }}
{{ $alt := .Get "alt" | string }}
{{ $id := printf "R-image-%x" (sha1 $src) }}
{{ $figNum := .Get "fig-num" }}
{{ $title := .Get "title" }}
{{ $caption := .Get "caption" }}

{{/* Determine language suffix */}}
{{ $lang := .Site.Language.Lang }}

{{/* Insert language code before last dot in filename */}}
{{ $localizedSrc := replaceRE "(?i)(\\.[^.]+)$" (printf ".%s$1" $lang) $src }}

<figure id="{{ $id }}">
  <!-- Lightbox trigger -->
  <a href="#{{ $id }}" class="lightbox-link" title="{{ $alt }}">
    <img src="{{ $localizedSrc }}" alt="{{ $alt }}" class="figure-image lazy lightbox" loading="lazy" />
  </a>

  <!-- Lightbox target -->
  <a href="javascript:history.back();" class="lightbox-back" id="{{ $id }}">
    <img src="{{ $localizedSrc }}" alt="{{ $alt }}" class="lazy lightbox-image" loading="lazy" />
  </a>

  {{ $figLabel := i18n "Fig." }}

  {{ if $figNum }}
    <figcaption>{{ $figLabel }} {{ $figNum }}: {{ $title }}</figcaption>
  {{ else if $caption }}
    <figcaption>{{ $caption }}</figcaption>
  {{ end }}
</figure>
