{{- $displayedWord := .Get 0 -}}
{{- $referencedWord := $displayedWord -}}

{{- if gt .Params 1 -}}
    {{- $referencedWord = .Get 1 -}}
{{- end -}}

{{- $tooltipText := "Definition not found." -}}
{{- $glossaryKey := "" -}}

{{- with index .Site.Data.glossary $referencedWord -}}
    {{- if reflect.IsMap . -}}
        {{- $tooltipText = .summary -}}
    {{- else -}}
        {{- $tooltipText = . -}}  <!-- Use old format if no summary field -->
    {{- end -}}
    {{- $glossaryKey = $referencedWord -}}
{{- end -}}

{{- printf `<a href="/glossary/#%s" class="tooltip" title="%s">%s</a>` 
    ($glossaryKey | urlize) 
    $tooltipText 
    $displayedWord | safeHTML -}}
