{{- $lang := .Site.Language.Lang -}}
{{- $displayedWord := .Get 0 -}}
{{- $referencedWord := $displayedWord -}}

{{- if gt .Params 1 -}}
    {{- $referencedWord = .Get 1 -}}
{{- end -}}

{{- $tooltipText := i18n "tooltip_not_found" -}}
{{- $glossaryKey := "" -}}

{{- with index .Site.Data.glossary $referencedWord -}}
    {{- $glossaryKey = $referencedWord -}}

    {{- if reflect.IsMap . -}}
        {{- $termLang := index . $lang -}}
        {{- if reflect.IsMap $termLang -}}
            {{- $tooltipText = $termLang.short | default (i18n "tooltip_not_found") -}}
        {{- else -}}
            {{- $tooltipText = $termLang | default (i18n "tooltip_not_found") -}}
        {{- end -}}
    {{- else -}}
        {{- $tooltipText = . | default (i18n "tooltip_not_found") -}}
    {{- end -}}
{{- end -}}

{{- if $glossaryKey }}
    {{- $glossaryURL := (printf "/glossary/#%s" ($glossaryKey | urlize)) | relLangURL -}}
    {{- printf `<a href="%s" class="tooltip" title="%s">%s</a>` 
        $glossaryURL
        $tooltipText 
        $displayedWord | safeHTML -}}
{{- else }}
    {{- /* Begriff existiert nicht → Tooltip nur ohne Link */ -}}
    {{- printf `<span class="tooltip" title="%s">%s</span>` 
        $tooltipText 
        $displayedWord | safeHTML -}}
{{- end }}
