{{- $displayedWord := .Get 0 -}}
{{- $referencedWord := $displayedWord -}}

{{- if gt .Params 1 -}}
    {{- $referencedWord = .Get 1 -}}
{{- end -}}

{{- $tooltipText := "Definition not found." -}}
{{- $glossaryKey := "" -}}

{{- with index .Site.Data.glossary $referencedWord -}}
    {{- $glossaryKey = $referencedWord -}}

    {{- if reflect.IsMap . -}}
        {{- $tooltipText = .short | default "Click for more information." -}}  <!-- Use summary if available, fallback to default text -->
    {{- else -}}
        {{- $tooltipText = . | default "Click for more information." -}}  <!-- Use the old format with fallback text -->
    {{- end -}}
{{- end -}}

{{- printf `<a href="/glossary/#%s" class="tooltip" title="%s">%s</a>` 
    ($glossaryKey | urlize) 
    $tooltipText 
    $displayedWord | safeHTML -}}
